extends ../layout.jade

block content
		.bd-pageheader
			.container
				h1 bootstrap 4 效果展示
				p.lead 常见bootstrap4组件，使用jade模块创建 
		.container
			.bd-content
				h1.bd-title 导航
				p 导航，一般用于普通链接列表，通常只有一级菜单，且不含其它形式的组件
				h2 简易导航
				h3 纵向
				.row.bd-example
					ul.nav
						li.nav-item
							a.nav-link(href="#") 链接1
						li.nav-item
							a.nav-link.active(href="#") 活跃链接2
						li.nav-item
							a.nav-link(href="#") 链接3
						li.nav-item
							a.nav-link.disabled(href="#") 无效链接4
				h3 横向
				.row.bd-example
					nav.nav
						a.nav-link(href="#") 链接1&nbsp;|&nbsp;
						a.nav-link.active(href="#") 活跃链接2&nbsp;|&nbsp;
						a.nav-link(href="#") 链接3&nbsp;|&nbsp;
						a.nav-link.disabled(href="#") 无效链接4
				h3 选项卡
				p 下拉菜单的role,aria-haspopup,aria-expanded是为了无障碍访问定义的属性
				.row.bd-example
					ul.nav.nav-tabs
						li.nav-item
							a.nav-link(href="#") 链接1
						li.nav-item
							a.nav-link.active(href="#") 活跃链接2
						li.nav-item.dropdown
							a.nav-link.dropdown-toggle(href="#",
								data-toggle="dropdown",
								role="button",
								aria-haspopup="true",aria-expanded="false"
								) 下拉菜单
							.dropdown-menu
								a.dropdown-item(href="#") 下拉菜单1
								a.dropdown-item(href="#") 下拉菜单2
								a.dropdown-item(href="#") 下拉菜单3
								.dropdown-divier
								a.dropdown-item(href="#") 下拉菜单4
						li.nav-item
							a.nav-link.disabled(href="#") 无效链接4
				h3 丸状导航
				.row.bd-example
					ul.nav.nav-pills
						li.nav-item
							a.nav-link(href="#") 链接1
						li.nav-item
							a.nav-link.active(href="#") 活跃链接2
						li.nav-item.dropdown
							a.nav-link.dropdown-toggle(href="#",
								data-toggle="dropdown",
								role="button",
								aria-haspopup="true",aria-expanded="false"
								) 下拉菜单
							.dropdown-menu
								a.dropdown-item(href="#") 下拉菜单1
								a.dropdown-item(href="#") 下拉菜单2
								a.dropdown-item(href="#") 下拉菜单3
								.dropdown-divier
								a.dropdown-item(href="#") 下拉菜单4
						li.nav-item
							a.nav-link.disabled(href="#") 无效链接4
				h3 堆叠丸状导航
				p 注意是在nav-pills基础上，叠加nav-stacked
				.row.bd-example
					ul.nav.nav-pills.nav-stacked
						li.nav-item
							a.nav-link(href="#") 链接1
						li.nav-item
							a.nav-link.active(href="#") 活跃链接2
						li.nav-item
							a.nav-link(href="#") 链接3
						li.nav-item
							a.nav-link.disabled(href="#") 无效链接4
				h3 选项卡面板
				p 根据当前选项卡，显示对应的面板
				.row.bd-example(role="tabpanel")
					ul.nav.nav-tabs(role="tablist")
						li.nav-item
							a#panel1-tab.nav-link.active(href="#panel1",
								data-toggle="tab",
								role="tab",aria-expanded="true" aria-controls="panel1") 面板1
						li.nav-item
							a#panel2-tab.nav-link(href="#panel2",
								data-toggle="tab",
								role="tab", aria-expanded="false",aria-controls="panel2") 面板2
						li.nav-item.dropdown
							a.nav-link.dropdown-toggle(href="#",
								data-toggle="dropdown",
								role="button",
								aria-haspopup="true",aria-expanded="false"
								) 下拉菜单
							.dropdown-menu
								a#dropdownpanel1-tab.dropdown-item(href="#dropdownpanel1",
									data-toggle="tab") 下拉面板1
								a#dropdownpanel2-tab.dropdown-item(href="#dropdownpanel2",
									data-toggle="tab") 下拉面板2
					.tab-content
						#panel1.tab-pane.fade.active.in(role="tabpanel", aria-expanded="true",aria-labelledby="panel1-tab")
							p
								| 面板1 内容 <br/>
								| 面板1 内容 <br/>
								| 面板1 内容 <br/>
								| 面板1 内容 <br/>
								| 面板1 内容 <br/>
						#panel2.tab-pane.fade(role="tabpanel", aria-expanded="true",aria-labelledby="panel2-tab")
							p
								| 面板2 内容 <br/>
								| 面板2 内容 <br/>
								| 面板2 内容 <br/>
								| 面板2 内容 <br/>
								| 面板2 内容 <br/>
						#dropdownpanel1.tab-pane.fade(role="tabpanel", aria-expanded="true",aria-labelledby="dropdownpanel1-tab")
							p
								| 下拉面板1 内容 <br/>
								| 下拉面板1 内容 <br/>
								| 下拉面板1 内容 <br/>
								| 下拉面板1 内容 <br/>
								| 下拉面板1 内容 <br/>								
						#dropdownpanel2.tab-pane.fade(role="tabpanel", aria-expanded="true",aria-labelledby="dropdownpanel2-tab")
							p
								| 下拉面板2 内容 <br/>
								| 下拉面板2 内容 <br/>
								| 下拉面板2 内容 <br/>
								| 下拉面板2 内容 <br/>
								| 下拉面板2 内容 <br/>		

				h1.bd-title 导航栏
				p 导航栏，包括商标，菜单、搜索框等一系列组件，并可固定位置，以及自适应屏幕
				p 导航栏总是横向排列，即使导航是用纵向模式，也会改为横向显示
				h2 主题
				h3 无色(白色)主题样式 navbar-light bg-faded + 导航栏路径
				.row.bd-example
					nav.navbar.navbar-light.bg-faded
						a.navbar-brand(href="#") 商标
						ul.nav.navbar-nav
							li.nav-item.active
								a.nav-link(href="#") 活跃链接1 
							li.nav-item
								a.nav-link(href="#") 链接2 
							li.nav-item
								a.nav-link(href="#") 链接3 
							li.nav-item
								a.nav-link(href="#") 链接4 
						form.form-inline.navbar-form.pull-right
							input.form-control(type="text", placeholder="请输入搜索内容")
							button.btn.btn-success-outline(type="submit") 搜索
					ol.breadcrumb
						li: a(href="#") 首页
						li: a(href="#") 分类
						li.active 详情
				h3 黑色主题样式 navbar-dark bg-inverse
				.row.bd-example
					nav.navbar.navbar-dark.bg-inverse
						a.navbar-brand(href="#") 商标
						ul.nav.navbar-nav
							li.nav-item.active
								a.nav-link(href="#") 活跃链接1 
							li.nav-item
								a.nav-link(href="#") 链接2 
							li.nav-item
								a.nav-link(href="#") 链接3 
							li.nav-item
								a.nav-link(href="#") 链接4 
						form.form-inline.navbar-form.pull-right
							input.form-control(type="text", placeholder="请输入搜索内容")
							button.btn.btn-info-outline(type="submit") 搜索
				h3 蓝色主题样式 navbar-dark bg-primary
				.row.bd-example
					nav.navbar.navbar-dark.bg-primary
						a.navbar-brand(href="#") 商标
						ul.nav.navbar-nav
							li.nav-item.active
								a.nav-link(href="#") 活跃链接1 
							li.nav-item
								a.nav-link(href="#") 链接2 
							li.nav-item
								a.nav-link(href="#") 链接3 
							li.nav-item
								a.nav-link(href="#") 链接4 
						form.form-inline.navbar-form.pull-right
							input.form-control(type="text", placeholder="请输入搜索内容")
							button.btn.btn-secondary-outline(type="submit") 搜索
				h3 自定义浅色主题样式 navbar-light background-color: #e3f2fd 
				.row.bd-example
					nav.navbar.navbar-light(style="background-color: #e3f2fd;")
						a.navbar-brand(href="#") 商标
						ul.nav.navbar-nav
							li.nav-item.active
								a.nav-link(href="#") 活跃链接1 
							li.nav-item
								a.nav-link(href="#") 链接2 
							li.nav-item
								a.nav-link(href="#") 链接3 
							li.nav-item
								a.nav-link(href="#") 链接4 
						form.form-inline.navbar-form.pull-right
							input.form-control(type="text", placeholder="请输入搜索内容")
							button.btn.btn-primary-outline(type="submit") 搜索	
				h2 其它 		
				h3 可折叠的内容
				.row.bd-example
					nav.navbar.navbar-light(style="background-color: #e3f2fd;")
						a.navbar-brand(href="#") 商标
						ul.nav.navbar-nav
							li.nav-item
								button.navbar-toggler(type="button", data-toggle="collapse", data-target="#exCollapsingNavbar") &#9776;
							li.nav-item.active
								a.nav-link(href="#") 活跃链接1 
							li.nav-item
								a.nav-link(href="#") 链接2 
							li.navbar-fixed-bottom
								a.nav-link(href="#") 链接3 
							li.nav-item
								a.nav-link(href="#") 链接4 
						form.form-inline.navbar-form.pull-right
							input.form-control(type="text", placeholder="请输入搜索内容")
							button.btn.btn-primary-outline(type="submit") 搜索						
					#exCollapsingNavbar.collapse
						.bg-inverse.p-a
							h4 折叠的内容
							span.text-muted 折叠的内容
				h3 布局
				p 固定在顶端 navbar-fixed-top
				p 固定在底端 navbar-fixed-bottom
				h1.bd-title 按钮与按钮组
				p 提示用户选择的区域都可以显示为按钮样式
				h2 按钮
				h3 标准按钮 button
				.row.bd-example
					button(type="button").btn.btn-primary Primary
					button(type="button").btn.btn-secondary Secondary 
					button(type="button").btn.btn-success Success
					button(type="button").btn.btn-info Info
					button(type="button").btn.btn-warning Warning
					button(type="button").btn.btn-danger Danger
					button(type="button").btn.btn-link Link
				.row
					p 对button(非表单下的应用)只能用click事件，调用js，如果想跳转，要执行window.location='xxx'，或在外面包一层a标签
				.row.bd-example
					a(href="http://www.baidu.com")
						button(type="button").btn.btn-primary baidu.com
				h3 非button元素按钮 a input
				.row.bd-example
					a.btn.btn-primary(href="#", role="button") Link
					button.btn.btn-primary(type="submit") Button submit
					input.btn.btn-primary(type="button", value="Input")
					input.btn.btn-primary(type="submit", value="Submit")
				h3 无背景按钮 button
				p 使用 .btn-*-outline
				.row.bd-example
					button(type="button").btn.btn-primary-outline Primary
					button(type="button").btn.btn-secondary-outline Secondary 
					button(type="button").btn.btn-success-outline Success
					button(type="button").btn.btn-info-outline Info
					button(type="button").btn.btn-warning-outline Warning
					button(type="button").btn.btn-danger-outline Danger
					button(type="button").btn.btn-link-outline Link
				h3 尺寸
				p btn-lg btn-sm
				.row.bd-example
					button(type="button").btn.btn-primary.btn-lg Large 
					button(type="button").btn.btn-primary Default
					button(type="button").btn.btn-primary.btn-sm Small
					button(type="button").btn.btn-primary-outline.btn-lg Large 
					button(type="button").btn.btn-primary-outline Default
					button(type="button").btn.btn-primary-outline.btn-sm Small
				h3 全宽按钮
				p btn-block
				.row.bd-example
					button(type="button").btn.btn-primary.btn-block 全宽按钮
					button(type="button").btn.btn-primary-outline.btn-block 全宽按钮
				h3 按钮状态 button
				.row.bd-example
					h6 普通
					button(type="button").btn.btn-primary Primary
					button(type="button").btn.btn-secondary Secondary 
					button(type="button").btn.btn-success Success
					button(type="button").btn.btn-info Info
					button(type="button").btn.btn-warning Warning
					button(type="button").btn.btn-danger Danger
					button(type="button").btn.btn-link Link
				.row.bd-example
					h6 激活
					button(type="button").btn.btn-primary.active Primary
					button(type="button").btn.btn-secondary.active Secondary 
					button(type="button").btn.btn-success.active Success
					button(type="button").btn.btn-info.active Info
					button(type="button").btn.btn-warning.active Warning
					button(type="button").btn.btn-danger.active Danger
					button(type="button").btn.btn-link.active Link
					.row.bd-example
					h6 禁用
					button(type="button",disabled).btn.btn-primary Primary
					button(type="button",disabled).btn.btn-secondary Secondary 
					button(type="button",disabled).btn.btn-success Success
					button(type="button",disabled).btn.btn-info Info
					button(type="button",disabled).btn.btn-warning Warning
					button(type="button",disabled).btn.btn-danger Danger
					button(type="button",disabled).btn.btn-link Link
				h3 a标签状态 
				.row.bd-example
					a.btn.btn-primary(href="#", role="button") 普通
					span &nbsp;
					a.btn.btn-primary.active(href="#", role="button") 激活 
					span &nbsp;
					a.btn.btn-primary.disabled(href="#", role="button") 禁用
				h3 切换状态 
				.row.bd-example
					button(type="button", data-toggle="button").btn.btn-primary 点击我切换状态
					button(type="button").btn.btn-primary 普通
					button(type="button").btn.btn-primary.active 激活
					button(type="button",disabled).btn.btn-primary 禁用